/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700&display=swap');


body {
    background-color: #0a9396;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: black;
}

h1 {
    font-weight: 800;
    font-family: "Inter Tight";
    padding: 15px 30px;
    background-color: #ee9b00;
    color: black;
    border-width: 3px;
}

h3 {
    font-weight: 700;
    color: black;
    margin-top: 0;
}

a {
    color: #bb3e03;
    font-weight: 700;
}

hr {
    border-top: 2px solid #001219;
}

#reset_side {
    background-color: #e0e1dd;
    font-weight: 600;
}

#reset_main {
    background-color: #e0e1dd;
    font-weight: 600;
}

#run {
    background-color: #ee9b00;
    font-weight: 600;
    border-color: black;
    color: black;
}

#blurb {
    background-color: #EFE2BE;
    border-color: black;
}

#sidebar {
    border-color: black;
    background-color: #EFE2BE;
}

.panel-default {
    border-color: black;
}

.panel-default>.panel-heading {
    background-color: #94d2bd;
    border-color: black;
    color: black;
}

